@font-face {
	font-family: "MyFont";
	src: url('./my-font.eot'); /* IE9*/
  src: url('./my-font.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./my-font.woff') format('woff'), /* chrome, firefox */
  url('./my-font.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./my-font.svg') format('svg'); /* iOS 4.1- */
	font-weight: 600;
	font-style: normal
}

.hello {
  color: red;
	background: url('./icon.png');
	font-family: 'MyFont';
}
